h1{
    color: #FF0EA3;
    font-family: 'Times New Roman', Times, serif;
}

.cor1{
    background-color: #FF0EA3;
}

.cor1{
    background-color: #FF0EA3 ;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

p{

    color: white;
    font-size: 20px;
}